.App {
  text-align: center;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/127/496/1007/missing-chuck-norris-wallpaper-preview.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.App-header {
  font-size: 2rem;
  color: white;
  width: 90vw;
  max-width: 800px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  background: #61dafb;
  height: 40px;
  font-size: 1.5rem;
  padding: 5px 20px;
  color: white;
  border-radius: 12px;
  border: 1px solid #61dafb;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.joke-wrapper {
  
  margin-top: 1rem;
  background-color: #ffffff7a;
  border: black;
  border-
  border-radius: 12px;
  color: black;
}

/* CSS */
.button-32 {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 30%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}